<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Topic Detail Page</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/css/templatemo-topic-listing.css" rel="stylesheet">
    <!-- TemplateMo 590 topic listing https://templatemo.com/tm-590-topic-listing -->
    <style>
       
        .carousel-item img {
            height: 300px; 
            object-fit: cover;
        }
    </style>





</head>
<body id="top">
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <i class="bi-back"></i>
                    <span>EcoWatch</span>
                </a>

                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_1">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_2">Browse Topics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_3">How it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_4">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_5">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="topics-listing.html">Read Here</a></li>
                                <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
                </div>
            </div>
        </nav>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            
        </header>
        <!-- First Section: Detecting Illegal Poaching with Satellite Data -->
        <section class="topics-detail-section section-padding" id="detecting-illegal-poaching">
            <div class="container">
               
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 mb-4">
                        <!-- Carousel -->
                        <div id="carousel1" class="carousel slide mb-4" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../static/images/1.jpg" class="d-block w-100" alt="Image 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/images/2.jpg" class="d-block w-100" alt="Image 2">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                      
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        
                        <h3 class="mb-4">Detecting Illegal Poaching with Satellite Data</h3>
                        <p>Illegal Poaching Prevention: By leveraging satellite data and advanced analytics, EcoWatch has successfully detected and prevented numerous instances of illegal poaching in marine protected areas. Our proactive approach to monitoring and enforcement has helped safeguard vulnerable species and preserve critical habitats.
                            </p>
                        <p>Additional information about the topic.</p>
                        <a href="#" class="btn navbar-custom-color">Details</a>
                    </div>
                </div>
            </div>
        </section>
        <!--  Coral Reef Health Monitoring -->
        <section class="topics-detail-section section-padding" id="coral-reef-health-monitoring">
            <div class="container">
               
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 mb-4">
                       
                        <div id="carousel2" class="carousel slide mb-4" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../static/images/3 (2).jpg" class="d-block w-100" alt="Image 3">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/images/WhatsApp Image 2024-02-21 at 01.09.07 (1) (2) (1) (1).jpeg" class="d-block w-100" alt="Image 4">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                      
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                       
                        <h3 class="mb-4">Coral Reef Health Monitoring</h3>
                        <p>Coral Reef Restoration: Through our coral reef health monitoring efforts, EcoWatch has contributed to the restoration and preservation of coral reefs worldwide. By identifying areas of degradation and implementing targeted conservation strategies, we are working to enhance the resilience of these vital ecosystems in the face of climate change and other threats.
                        </p>
                        <p>Additional information about the topic.</p>
                        <a href="#" class="btn navbar-custom-color">Details</a>
                    </div>
                </div>
            </div>
        </section>
        <!--  Polluted Areas and Water Quality Monitoring -->
        <section class="topics-detail-section section-padding" id="polluted-areas-water-quality">
            <div class="container">
               
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 mb-4">
                     
                        <div id="carousel3" class="carousel slide mb-4" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../static/images/pollution.jpeg" class="d-block w-100" alt="Image 5">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/images/businesswoman-using-tablet-analysis.jpg" class="d-block w-100" alt="Image 6">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        
                        <h3 class="mb-4">Polluted Areas and Water Quality Monitoring</h3>
                        <p>Pollution Mitigation: EcoWatch's early detection systems have played a crucial role in identifying and addressing pollution hotspots in marine environments. By monitoring water quality and detecting sources of contamination, we are working to mitigate the impact of pollution on marine life and human health.</p>
                        <p>Additional information about the topic.</p>
                        <a href="#" class="btn navbar-custom-color">Details</a>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer section-padding">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="index.html">
                        <i class="bi-back"></i>
                        <span>EcoWatch</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Programs</h6>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Our work</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Marine Conservation</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Wildlife Rescue</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Marine Mammal Rescue</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Get involved</h6>
                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">Take action</a>
                    </p>
                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">Write your Research</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        English</button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Hindi</button></li>
                            <li><button class="dropdown-item" type="button">Telegu</button></li>
                        </ul>
                    </div>
                    <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024 All rights reserved by EcoWatch.
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- JAVASCRIPT FILES -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/custom.js"></script>
</body>
</html>
